@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
body {
  font: 16px/1.5 "Roboto", sans-serif;
  color: #cacaca;
  background: #08020d;
}

.pricing-item a, header .hat .menu nav a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-family: "Roboto-Bold";
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-family: "Roboto-Bold";
  text-transform: uppercase;
}

@media (max-width: 830px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
h3 {
  font-size: 24px;
  line-height: 45px;
  text-transform: uppercase;
}
@media (max-width: 830px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
  }
}

.text-small, .pricing-item .pricing-footer {
  font-size: 12.8px;
}

.text-3 {
  font-size: 32px;
}

.text-7, .pricing-item .pricing-value {
  font-size: 64px;
}

.white-text {
  color: #fff;
}

.transparent-bgd {
  background: transparent;
}
.transparent-bgd::placeholder {
  color: #fff;
}

#page-pricing {
  padding-top: 100px;
}

header .conteiner,
section .conteiner,
footer .conteiner {
  width: 1200px;
}

form, header .conteiner,
section .conteiner,
footer .conteiner {
  margin: 0 auto;
}

header .hat .menu .logo, header .hat .menu, header .hat {
  gap: 16px;
}

body {
  margin: 0;
  padding: 0;
  border: none;
}

header,
section,
footer {
  padding-left: auto;
  padding-right: auto;
}
@media (max-width: 1240px) {
  header,
section,
footer {
    padding-left: 7%;
    padding-right: 7%;
  }
  header .conteiner,
section .conteiner,
footer .conteiner {
    width: 100%;
  }
}
@media (max-width: 520px) {
  header,
section,
footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.flex {
  display: flex;
}
.flex.justify-content-between {
  justify-content: space-between;
}
.flex.align-items-center {
  align-items: center;
}
.flex.wrap {
  flex-wrap: wrap;
}

.grid-2 {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 5px;
}

header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}
header .hat {
  font-size: 11px;
  line-height: 13px;
}
header .hat .menu .logo {
  font-family: "Roboto-Bold";
  text-transform: uppercase;
  flex-wrap: nowrap;
  margin-right: 72px;
}
header .hat .menu .logo img {
  height: 24px;
  width: 24px;
}
header .hat .menu .logo p {
  margin: 0;
  padding: 0;
  border: none;
}
@media (max-width: 830px) {
  header .hat .menu .logo {
    margin-right: 0;
  }
}
@media (max-width: 830px) {
  header .hat .menu {
    width: 100%;
  }
}
header .hat .menu nav {
  gap: 24px;
}
header .hat .menu nav a {
  font-family: "Roboto-Bold";
  text-transform: uppercase;
}
@media (max-width: 520px) {
  header .hat .menu nav {
    gap: 0;
    width: 100%;
  }
  header .hat .menu nav a {
    margin-right: 50%;
  }
}
header .hat input {
  margin: 0;
  padding: 0;
  border: none;
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  background: #3c3b3d;
  border-radius: 50px;
}
@media (max-width: 830px) {
  header .hat input {
    width: 100%;
  }
}
header .hat input::placeholder {
  font: 13, 3px/15px Arial, sans-serif;
  text-transform: uppercase;
  color: #757575;
}

#page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
#page-description .banner {
  text-align: center;
  padding: 200px 0;
}
#page-description .banner h1, #page-description .banner h2 {
  margin: 0;
  padding: 0;
  border: none;
}
#page-description .banner p {
  margin-top: 32px;
}
@media (max-width: 520px) {
  #page-description .banner p {
    margin-top: auto;
  }
}

form {
  max-width: 570px;
  gap: 24px;
}
form input {
  margin: 0;
  padding: 0;
  border: none;
  grid-column: span 1;
  box-sizing: border-box;
  height: 50px;
  min-width: 270px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  font: 14px/16px "Roboto-Bold", sans-serif;
}
@media (max-width: 520px) {
  form input {
    grid-column: span 2;
  }
}
form button {
  grid-column: span 2;
  font: 13.3px/15px Arial, sans-serif;
  text-transform: uppercase;
  background: #34c176;
}

#page-pricing {
  text-align: center;
}
#page-pricing h2 {
  margin: 0;
  padding: 0;
  border: none;
}
#page-pricing .prices {
  gap: 50px;
  margin-top: 49px;
  margin-bottom: 40px;
}
#page-pricing .prices .bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}
#page-pricing .prices .bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}
#page-pricing .prices .bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}
#page-pricing .info {
  margin: 0;
  padding: 0;
  border: none;
}

.pricing-item {
  width: calc((100% - 100px) / 3);
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 1rem;
}
@media (max-width: 830px) {
  .pricing-item {
    width: 50%;
  }
}
@media (max-width: 520px) {
  .pricing-item {
    width: 100%;
  }
}
.pricing-item h3 {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 200px;
}
.pricing-item .pricing-value {
  margin-bottom: 24px;
  line-height: 1em;
}
.pricing-item .pricing-value span {
  vertical-align: super;
  text-transform: uppercase;
}
.pricing-item a {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  text-transform: uppercase;
}
.pricing-item .pricing-footer {
  margin-top: 64px;
  margin-bottom: 42px;
}

/*# sourceMappingURL=style.css.map */
