.morten-harket {
  padding-top: 250px;
  padding-bottom: 223px;

  background-image: url('../images/Morten\ Harket.png');
  background-position: center;
  background-size: cover;
}


.two-button {
  margin-top: 3rem;
  @include gap-24;

  button {
    flex-shrink: 0;
    width: 200px;

    @include uppercase;
  }

  .btn-purple {
    background: $purple;
  }
}

.btn-with-icon {
  @include gap-16;

  .icon {
    width: 20px;
    height: 20px;

    filter: invert(100%);
  }
}
