#page-description {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;

  .banner {
    text-align: center;
    padding: 200px 0;
    color: #fff;
  
    h1, h2 {
      @include reset;
    }
  
    p {
      margin-top: 32px;

      @media (max-width: 520px) {
        margin-top: auto;
      }
    }
  }
}

