#page-description {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;

  .banner {
    padding: 200px 0;
  
    p {
      margin-top: 32px;

      @media (max-width: 520px) {
        margin-top: auto;
      }
    }
  }
}

