.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

footer {
  a {
    @extend %reset-a;
  }
}

.first-foot {
  padding-top: 62px;
  padding-bottom: 75px;

  .footer-1 {
    column-count: 4;

    @media (max-width: 960px) {
      column-count: 2;
    }

    @media (max-width: 600px) {
      column-count: 1;
    }

    ul:first-child {
      margin: 0;
    }

    .column {

      margin-top: 30px;

      column-width: 310px;
      break-inside: avoid;

      h2 {
        margin-bottom: 16px;

        font: 700 18px/27px 'Roboto', sans-serif;

        @include uppercase;
      }
    }

    .last-clmn {
      column-width: 240px;

      @media (max-width: 600px) {
        column-width: 310px;
      }

      .soc-net-link {
        @include gap-24;
        
        a {
          line-height: 1.4rem;

          img {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.last-foot {
  box-sizing: border-box;
  padding-top: 39px;
  padding-bottom: 48px;

  border-top: 1px solid $gray;

  .footer-2 {
    gap: 15.5px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
