%main-margin {
  margin: 100px 120px 0 120px;
}

%column-gap-50 {
  column-gap: 50px;
}

%column-row-25 {
  row-gap: 25px;
}

%h-style {
  font-weight: bold;
  text-transform: uppercase;
}

body {
  font: 18px/1,5 'Roboto', sans-serif;
  color: #cacaca;
  background: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  @extend %h-style;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  @extend %h-style;
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}