header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  .hat {
    font-size: 11px;
    line-height: 13px;

    @extend %gap-16;

    .menu {
      @extend %gap-16;

      .logo {
        @include h-style;

        @extend %gap-16;
        flex-wrap: nowrap;
        margin-right: 72px;

        img {
          width: 24px;
          height: 24px;
        }

        p {
          @include reset;
        }

        @media (max-width: 830px) {
          margin-right: 0;
        }
      }

      @media (max-width: 830px) {
        @include full-width;
      }

      nav {
        @include gap-24;

        a {
          @include h-style;

          @extend %reset-a;
        }

        @media (max-width: 520px) {
          @include no-gap;
          @include full-width;

          a {
            margin-right: 50%;
          }
        }
      }
    }

    input {
      @include reset;
      width: 248px;
      height: 25px;
      padding: 5px 10px;
      box-sizing: border-box;

      background: $dark;

      border-radius: 50px;

      @media (max-width: 830px) {
        @include full-width;
      }

      &::placeholder {
        color: #757575;
        font: 13, 3px/15px Arial, sans-serif;

        @include uppercase;
      }
    }
  }
}
