.pricing-item {
  box-sizing: border-box;
  width: calc((100% - 100px) / 3);
  padding: 1.5rem;

  border-radius: 1rem;

  @media (max-width: 830px) {
    width: 50%;

    @include centred;
  }

  @media (max-width: 520px) {
    width: 100%;
  }

  h3 {
    line-height: 36px;
    margin-bottom: 200px;
  }

  .pricing-value {
    margin-bottom: 24px;

    line-height: 1em;

    @extend .text-7;

    span {
      vertical-align: super;

      @include uppercase;
    }
  }

  a {
    display: block;

    @extend %reset-a;

    @include border-1;
    @include full-width;
  }

  .pricing-footer {
    margin-top: 64px;
    margin-bottom: 42px;

    @extend .text-small;
  }
}
