@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto-Medium.ttf);
}

$black: #08020d;
$dark: #3c3b3d;
$gray: #e0e0e0;
$dark-gray: #cacaca;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;


body {
  font: 16px/1.5 'Roboto', sans-serif;
  color: $dark-gray;
  background: $black;
}

@mixin uppercase {
  text-transform: uppercase;
}

@mixin h-style {
  font-family: 'Roboto-Bold';
  @include uppercase;
}

%reset-a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  @include h-style;

  @media (max-width: 830px) {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  @include h-style;

  @media (max-width: 830px) {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font: 24px/45px 'Roboto', sans-serif;
  @include uppercase;

  @media (max-width: 830px) {
    font-size: 16px;
    line-height: 24px;
    @include h-style;
  }
}

.text-small {
  font-size: 12.8px;
}

.text-3 {
  font-size: 32px;
}

.text-7 {
  font-size: 64px;
}

.white-text {
  color: #fff;
}

.transparent-bgd{
  background: transparent;

  &::placeholder {
    color: #fff;
  }
}

@mixin border-1 {
  border: 1px solid #fff;
  @include uppercase;
}

.orange {
  color: $orange;
  @include uppercase;
}

.btn {
  cursor: pointer;
}

.btn-red {
  background: $red;
  @extend .text-small;
}